.Room {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-column-gap: 60px;
  margin: 120px auto 0;
  width: 80vw;
  position: relative;
  z-index: 10;
}

.Room__overlay {
  background: rgba(36, 41, 46, 0.95);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.Room__title {
  margin-bottom: 40px;
}

.Room__now-playing {
  align-items: center;
  display: flex;
  margin-top: 40px;
}

.Room__now-playing-track {
  flex: 1;
}
