.Track {
  align-items: center;
  border-radius: 0 4px 4px 0;
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 80px 1fr 30px;
  transition: opacity 300ms ease-in-out, background-color 200ms ease-in-out;
  opacity: 1;
  padding-right: 20px;

  &:hover {
    background-color: rgba(255, 134, 0, 0.05);
  }
}

.Track.Track__pending {
  opacity: 0.3;

  .Track__artist {
    animation: 1.5s pending alternate-reverse infinite;
    background: #333;
    border-radius: 2px;
    height: 21px;
    transform-origin: 0;
    width: 80px;
  }

  .Track__name {
    animation: 2s pending alternate-reverse infinite;
    background: #999;
    border-radius: 2px;
    height: 19px;
    transform-origin: 0;
    width: 200px;
  }

  .Track__duration {
    background: #ccc;
    border-radius: 2px;
    height: 16px;
    width: 30px;
  }
}

@keyframes pending {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.Track__content {
  flex: 1;
  margin-left: 10px;
}

.Track__artist {
  color: #2a2a48;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}

.Track__name {
  color: #666;
  font-size: 16px;
  margin-bottom: 5px;
}

.Track__duration {
  color: #999;
  font-size: 14px;
}

.Track__cover {
  position: relative;
  transition: transform 500ms ease-in-out;

  &:hover {
    transform: translateY(-2px);
  }
}

.Gravatar.Track__gravatar {
  bottom: -10px;
  position: absolute;
  right: -10px;
  z-index: 3;
}
