/* ==================================================================
   Album cover
   ================================================================== */
.Cover {
  position: relative; }

.Cover__image {
  border-radius: 4px;
  max-width: 100%;
  position: relative;
  vertical-align: top;
  z-index: 2; }

.Cover__shadow {
  bottom: -25px;
  filter: blur(15px);
  left: 0;
  max-width: 100%;
  position: absolute;
  transform: scale(0.9);
  z-index: 1; }

.Cover__shadow--small {
  bottom: -10px;
  transform: scale(0.7); }

.Cover__temp {
  background: #ccc;
  border-radius: 4px; }

.Position {
  height: 310px;
  left: -5px;
  position: absolute;
  top: -5px;
  width: 310px; }

.shape {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 5px;
  fill: transparent;
  stroke: rgba(255, 134, 0, 0.4);
  transition: stroke-dashoffset 100ms ease-in-out; }
