.Users {
  margin-top: 30px;
}

.Users__user {
  align-items: center;
  background-color: rgba(102, 140, 255, 0.08);
  border-radius: 4px;
  display: flex;
  padding: 10px 20px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.Users__email {
  color: #666;
  flex: 1;
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Users__lastPlay {
  font-size: 12px;
}
