/* ==================================================================
   Droparea
   ================================================================== */
.Droparea {
  background: none;
  border: 0;
  bottom: 0;
  color: transparent;
  cursor: default;
  height: 100%;
  left: 0;
  position: fixed;
  resize: none;
  width: 100%; }
  .Droparea:focus {
    outline: none; }

.Droparea--is-dragging {
  background: rgba(66, 185, 131, 0.2); }

.active {
  background: var(--color-cod-gray);
  border-color: var(--color-cod-gray) !important;
  text-shadow: 0 0 0 #f0f0f0; }

.Droparea__wrap {
  position: relative; }

.icon {
  color: #fff;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
  z-index: 100; }

.empty {
  border: 3px dashed #444;
  border-radius: 4px;
  font-size: 21px;
  line-height: 1.5;
  padding: 250px 30px 0;
  position: relative;
  height: 500px;
  text-shadow: 0 0 0 #f0f0f0;
  width: 800px; }
