.Queue {
  height: 60vh;
  overflow: auto; }

.Queue > .Track:not(:last-child) {
  margin-bottom: 30px; }

.EmptyState {
  background: #fafafa;
  border-radius: 4px;
  color: #999;
  padding: 40px; }
